.two-column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    margin: 0 auto;      /* Center the block */
}

.two-column-item {
    flex: 1 1 30%;
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* additional */
/* Navigation bar styling */
.navbar {
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: #e9ecef;
    color: rgb(76, 120, 168);;
}

/* Active link styling - will be added by callback */
.active {
    background-color: #007bff;
    color: white !important;
}

/* Page content styling */
.content-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.page-title {
    color: #2c3e50;
    margin-bottom: 1rem;
}

.page-content {
    color: #7f8c8d;
    line-height: 1.6;
}

/* malaria report */
/* Main container */
.container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
}

/* Table styles */
.data-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.data-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.data-table .center {
    text-align: center;
}

.data-table .highlight {
    background-color: #cccbcb;
    font-weight: bold;
}

.data-table .red {
    background-color: #fc8888;
    font-weight: bold;
}

/* Card styles */
.card-container-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-bottom: 30px;
    overflow-x: auto;  /* optional: allow horizontal scroll if needed */
}
.card-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 30px;
    overflow-x: auto;  /* optional: allow horizontal scroll if needed */
}

.card {
    flex: 1 1 0; /* grow and shrink as needed */
    min-width: 0; /* remove the hard minimum */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    background-color: #fff;
}

.card-header {
    font-weight: bold;
    margin-bottom: 10px;
    color: #3498db;
}

.card-value {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

/* Chart container */
.chart-container {
    margin-top: 30px;
}

/* Counts */
.metric-value {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 5px 0;
    color: #333;
}

.metric-title {
    font-size: 1rem;
    color: #666;
}

/* filters */
.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    align-items: flex-end;
}

.filter-input {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    /* height: 20px; */
    margin-bottom: 10px;
}

.filter-input label {
    color: #888;
    font-size: 13px;
    margin-bottom: 4px;
}

/* dcc.Dropdown styling */
.Select-control {
    border: 1px solid #ccc !important;
    border-radius: 4px;
    padding: 4px 8px;
}

/* dcc.DatePickerRange input styling */
.DateInput_input {
    border: 1px solid #fcfbfb !important;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 14px;
}